In [ ]:
1+3

4

In [ ]:
#subtracao
4-2

2

In [ ]:
#multiplicação
2 * 5

10

In [ ]:
#divisão
2 / 4

0.5

In [ ]:
#exponenciação
2 ** 4

16

In [ ]:
#resto da divisão
2 % 4

2

In [ ]:
#divisão de chao
2 // 4

0

In [ ]:
# usar \n para pular uma linha
print('teste\nnao precisa de espaço')

teste
nao precisa de espaço

Variáveis

In [ ]:
#não admite variavel com espaço, se for preciso separar, usar underline

In [ ]:
#variaveis de mesmo nome se sobreescrevem.

# variável texto

In [ ]:
var_texto_1 = 'um texto qualquer'

In [ ]:
var_texto_2 = str('novo texto')

In [ ]:
print(f'{var_texto_1} \n {var_texto_2}')

um texto qualquer
 novo texto

# Variáveis númericas

In [ ]:
# são dois tipos, inteiras e flutuantes.

In [ ]:
#inteira.
var_int_01 = 100
var_int_02 = int(120)
print(var_int_01, var_int_02)

100 120

In [ ]:
#flutuante
var_flut_01 = 100.12
var_flut_02 = float(123.60)
print(var_flut_01, var_flut_02)

100.12 123.6

# Variáveis Booleanas

In [ ]:
# booleanas são condicionais, sendo utilizadas o True ou False, com a primeira letra em maiuscula

In [ ]:
var_booleana_01 = True
var_booleana_02 = False
print(var_booleana_01, var_booleana_02)

True False

In [ ]:
#sempre bom deixar o nome da variável autoexplicativa para não dar confusão.

# Tipos de dados:
1. Lista [ ]
2. Tupla ( )
3. Dicionário { }

In [ ]:
#LISTA
lista_exemplo_01 = [1,2,3,4,5,6,7,8,9]
lista_exemplo_01

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#acessando um item da lista por meio do index (começa pelo zero e nao com 1)
lista_exemplo_01[4]

5

In [ ]:
lista_exemplo_02 = ['queijo', 'cerveja','arroz']
lista_exemplo_02

['queijo', 'cerveja', 'arroz']

In [ ]:
lista_exemplo_02[2]

'arroz'

In [ ]:
lista_exemplo_03 = ['nome', 1, 'teste', [1,2,3]]
lista_exemplo_03

['nome', 1, 'teste', [1, 2, 3]]

In [ ]:
lista_exemplo_03[3][1]

2

In [ ]:
#TUPLA - IMUTÁVEIS

In [ ]:
tupla_exemplo_01 = (1,2,3,4,5)
tupla_exemplo_02 = ('texto', 1, 2.5, False)
tupla_exemplo_01, tupla_exemplo_02

((1, 2, 3, 4, 5), ('texto', 1, 2.5, False))

In [ ]:
#DICIONÁRIO
#precisa pasasar a key: e o valor, tudo dentro de chaves, e key e valores, dentro de aspas separadas por dois pontos
#se for número não precisa de aspas, pode ser direto
dicionário_exemplo_01 = {'Chave': 'Valor'}

# Nomeando Variáveis

In [ ]:
#nomeando
laranja, uva, abacaxi = 1, 2, 3
print(laranja, uva, abacaxi)

1 2 3

In [ ]:
#nomeando
maca = banana = kiwi = 10
print(maca , banana , kiwi)

10 10 10

In [ ]:
#nomeando com lista
lista_carros = ['Volks', 'Audi', 'Fiat']
marca_01, marca_02, marca_03 = lista_carros
print(marca_01, marca_02, marca_03)

Volks Audi Fiat

In [ ]:
#nomeando com variáveis
nome = 'Wand'
sobrenome ='Bar'

nome_completo = nome + ' ' + sobrenome
print(nome_completo)

Wand Bar

In [ ]:
#experimento
nome = 'wand '
idade= str(32)

nome +idade

'wand 32'

In [ ]:
investimento = 1000
juros = '0.2'
investimento * juros
#aqui, como o juros ficou como str, o programa entendeu que era pra redroduzir a str mil vezes

'0.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.2'

In [ ]:
invest = 1000
jr = float(0.2)
print(invest * jr)
valor_total = (invest * jr) + invest
print(valor_total)

200.0
1200.0

# Tipos de Informação

In [ ]:
string = str('Olá, mundo')
inteiro = int(22)
flutuante = float(22.22)
Complex = complex(1j)
lista = list(('maca', 'banana', 'melancia'))
tupla = tuple(('morango', 'pera'))
Range = range(6)
Dicionario = dict(nome='wand', age=32)
Set = set(('A', 'B','C'))
Fronzet = frozenset(('A', 'B','C'))
Booleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview(bytes(5))

#importando uma formula para apurar a data de hj
from datetime import datetime
Data = datetime.today().date()

In [ ]:
type(string)

str

In [ ]:
print(type(inteiro))

<class 'int'>

In [ ]:
print(type(Bytes))

<class 'bytes'>

# Comando Round

In [ ]:
#nunca esqueci de substituir a virgula pelo ponto
numeropi = 3.14159265358979323846
print(numeropi)

3.141592653589793

In [ ]:
print(round(numeropi, 4))

3.1416

In [ ]:
#no round,ele vai arredondar para o valor mais próximo.

# Comando Len

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]
dicionario = {'Nome': 'Wand', 'Idade': 32}
tupla = (1,2,3)
String = 'Olá mundão'

In [ ]:
len(lista)

10

In [ ]:
len(dicionario)
#um dicionário e formado pela key e valor, assim, cada resposta e um elemento a mais na soma

2

In [ ]:
len(tupla)

3

In [ ]:
len(String)

10

# Fatiamento de String

In [ ]:
Minha_string = 'Aprender Python é Top!'

print(type(Minha_string))
print(len(Minha_string))

<class 'str'>
22

In [ ]:
Minha_string[0]

'A'

In [ ]:
Minha_string[1]

'p'

In [ ]:
Minha_string[-1:]

'!'

In [ ]:
Minha_string[-10:]

'hon é Top!'

In [ ]:
Minha_string[::-1]
#invertendo

'!poT é nohtyP rednerpA'

# Manipulação de String

In [ ]:
String = 'Olá mundão!'
print(String)

Olá mundão!

In [ ]:
type(String)

str

In [ ]:
len(String)

11

In [ ]:
#concatenar
String + 'Concatenação!'

'Olá mundão!Concatenação!'

In [ ]:
#replace = substituir
String.replace('mundão', 'Mundo')

'Olá Mundo!'

In [ ]:
CPF = 'CPF:123456789'
int(CPF.replace('CPF:', ''))
#dessa forma, já fica tangivel para manipulação

123456789

In [ ]:
#verifica o começo e dá uma resposta booleana. Acento tem influências e maiusculo e minusculo tbem
String.startswith('Ola')

False

In [ ]:
#verificar o fim
String.endswith('!')

True

In [ ]:
#contar palavras/letras count
String.count('m')

1

In [ ]:
#transformação - capitalize (primeira letra fica em maiuscula), mas somente a primeira palavra
nome = 'wand bar'
nome.capitalize()

'Wand bar'

In [ ]:
#verifica se variável x existe e se o mesmo é numero, se inserir consoantes, dará false
String_CPF = '12344567'
String_CPF.isdigit()

True

In [ ]:
#verificar se é númerico
String.isalnum()

False

In [ ]:
#upper coloca toda a string em maiusucla
nome = 'wand'
nome.upper()

'WAND'

In [ ]:
#lower, tudo minuscula
nome = 'WAND'
nome.lower()

'wand'

In [ ]:
#find, vai procarar uma palavra, letra ou número, retornado o elemento em que vai aparecer o que se procura
Frase = 'Hoje está calor!'
Frase.find('está')

5

In [ ]:
#strip, corta os espaços antes e depois da string
Endereco = '   Rua Agusta, 23, SP   '
Endereco
Endereco.strip()

'Rua Agusta, 23, SP'

In [ ]:
#split quebra a string, formando praticamente uma lista
#se nenhum argumento for inserido, vai separar por palavra, se definir por virgula, será por virgula
Palavra = 'Rua Augusta 150, Centro, SP'
Palavra.split(',') #aqui, dentro dos parenteses, foi usada a vírgula.
#pode ser usado como um delimitador

['Rua Augusta 150', ' Centro', ' SP']

In [ ]:
Palavra.split()
#mesma coisa com a de cima, mas sem o delimitador

['Rua', 'Augusta', '150,', 'Centro,', 'SP']

# Comando Input

In [ ]:
#simulações situações onde podemos inputar um valor.
input('qualquer coisa')

qualquer coisateste

'teste'

In [ ]:
#formulário
nome = input('Digite o seu nome: ')
idade = input('Digite a sua idade ')

print('O seu nome é ', nome)
print('A sua idade é de ', idade)

Digite o seu nome: wand
Digite a sua idade 32
O seu nome é  wand
A sua idade é de  32

# Operadores de Comparação

In [ ]:
#Combinar comperações
#conteúdo referente aos sinais de ==, !=, >=, <=.
#Sinal de igual são dois sinais
#o sinal de diferente é um ponto de exclamção com um sinal de igual
1==1

True

In [ ]:
1>=2

False

In [ ]:
1 != 4

True

In [ ]:
1 != 1

False

In [ ]:
1 <= 4

True

# Operadores Lógicos

In [ ]:
#Combinar instruções com and, or e not.
10 > 2 and 10 >5

True

In [ ]:
10 > 6 and 10 > 25

False

In [ ]:
10 == 2 or 10 < 20

True

In [ ]:
2 != 22 or 2 == 22

True

In [ ]:
lista = [1,2,3,4]

In [ ]:
2 not in lista

False

In [ ]:
4 in lista

True

# Operadores de Identidade

In [ ]:
# utilização do "is" e "is not"
#em que compara seum objeto é igual ao outro, parecido com sinal de igual

In [ ]:
String_01 = 'Olá mundão'
String_02 = 'Atenção'

In [ ]:
type(String_01) == type(String_02)

True

In [ ]:
type(String_01) is type(String_02)

True

In [ ]:
type(String_01) is not type(String_02)

False

# Operadores de Associação

In [ ]:
#serve para testar se uma sequencia é apresentada em um objeto
#"in" e "not in"

In [ ]:
Lista_Acoes = ['Magalu', 'Via', 'Carrefour']

In [ ]:
'Magalu' in Lista_Acoes

True

In [ ]:
'Magalu' not in Lista_Acoes

False

# Manipulando Listas

In [ ]:
#append - adicionar elementos dentro de uma lista, na ordem emque for digitado
Lista_vazia = []
Lista_vazia

[]

In [ ]:
Lista_vazia.append(1)
Lista_vazia.append(2)
Lista_vazia.append(3)
Lista_vazia.append('Valor')

In [ ]:
Lista_vazia

[1, 2, 3, 'Valor']

In [ ]:
len(Lista_vazia)

4

In [ ]:
#para acessar lista, usa-se colchete [ ]
Lista_vazia[-1] #aqui, pode ser usado o sinal negativo para começar dos últimos elementos

'Valor'

In [ ]:
#limpar uma lista, por meio da sintaxe clear
print(Lista_vazia)
Lista_vazia.clear()
print(Lista_vazia)

[1, 2, 3, 'Valor']
[]

In [ ]:
#uma vez que foi zerado, a lista está vazia e se for reutilizar, tem que carregar os elementos no append

In [ ]:
Lista_vazia

[1, 2, 3, 'Valor']

In [ ]:
#Insert, aqui, o usuário indica em qual parte do index será inserido o novo valor
#a diferença com o append é que, insert define o local da inclusão, enqaunto no append, os novos valores
#ficam no final da lista
# para efetuar esse procedimento são necessários dois argumentos:
#o primeiro é o index em que será inserido, e, o segundo, o valor/str que será incluso
Lista_vazia.insert(2, 4)
Lista_vazia

[11, 11, 4, 1, 2, 3, 'Valor']

In [ ]:
#concatenar lista ou empilhar lista,
#usa-se extend
lista_01 = [1,2, 3]
lista_02 = [4, 5, 6]
lista_01.extend(lista_02)

In [ ]:
lista_01

[1, 2, 3, 4, 5, 6]

In [ ]:
#remove, retira o elemento transcrito entre os parenteses e NÃO A POSIÇÃO DO INDEX
#usar o remove, se conhecer qual elemento será jogado fora
lista_01.remove(5)
lista_01

[1, 2, 3, 4, 6]

In [ ]:
#para remover pela posição, ou pelo index, usa-se o pop
#quando não se tem o elemento ou nome, retira-se pela posição
lista_01.pop(0)
lista_01

[2, 3, 4, 6]

In [ ]:
#sort para organizar em ordem numerica/alfabetica
#vai fazer a separação entre letras maiuscula e minuscula
lista_abc = ['e', 'l', 'A', 'w', 'P']
lista_abc.sort()
lista_abc

['A', 'P', 'e', 'l', 'w']

In [ ]:
# usar reverse True, para deixar a lista ao contrário
lista_abc.sort(reverse=True)
lista_abc

['w', 'l', 'e', 'P', 'A']

In [ ]:
# o sinal de um igual tem o mesmo efeito par fazer uma CÓPIA
lista_nova = lista_abc.copy()
lista_nova

['w', 'l', 'e', 'P', 'A']

In [ ]:
# essa forma é menos segura, pois enquanto o primeiro faz uma cpóia do que foi repassado
#esse daqui, pode ter seus valores alterados conforme a lista original mude
lista_nova1 = lista_abc
lista_nova1

['w', 'l', 'e', 'P', 'A']

In [ ]:
#para descobrir qual o index de um elemento, usa-se o index
lista_nova1.index('e')

2

# Pacote Externo - Datetime

In [ ]:
#fornece uma fonte de classe para manipulação de data e hora
type('01/01/2022')

str

In [ ]:
type(01/01/2022)

SyntaxError: ignored

In [ ]:
import datetime

In [ ]:
Dia_hoje = datetime.datetime.today()
print(Dia_hoje)

2022-08-03 13:24:14.073258

In [ ]:
type(Dia_hoje)

datetime.datetime

In [ ]:
print(datetime.datetime.today().date())
#se nao tiver dentro do print, vai mostrar como resposta nao apenas a data, mas o nome datatime

2022-08-03

In [ ]:
Data = datetime.datetime.today().date()
#datetime completo, abaixo será decomposto por ano, mes e dia
#NAO ESQUECER O DATE NO FINAL

In [ ]:
Ano = Data.year
Mes = Data.month
Dia = Data.day

print(Ano, Mes, Dia)
#tendo a variável Data puxado o datetime today, aqui, esse variável é reutilizada separando as datas

2022 8 3

In [ ]:
#criando uma data
Data_antiga = datetime.date(2022, 1, 1) # ano, mes, dia
Data_antiga

datetime.date(2022, 1, 1)

In [ ]:
print(Data_antiga)

2022-01-01

In [ ]:
Data - Data_antiga

datetime.timedelta(days=214)

In [ ]:
#CONVERSAO DA DATA DO MODELO AMERICANO (ANO, MES, DIA), PARA O BRASILEIRO (DIA, MES, ANO)
#para isso, basta usar o strftime sobre a variavel que tme a data
Data.strftime('%d/%m/%y')
#para tanto, basta inserir o porcentagem para indicar a alteração
#a barra, pode ser trocada por qualquer coisa, inclusive espaço

'03/08/22'

In [ ]:
#operações com data
#tem que o datetime.timedelta()
Data + 1

TypeError: ignored

In [ ]:
Data + datetime.timedelta(days=1)

datetime.date(2022, 8, 4)

In [ ]:
#nesse recorte, tentei a fazer soma em um dia, o primeiro deu erro, pq o programa não é capaz de rodar datetime com int
#ja o segundo, foi adaptado do timedelta, para receber esse acrescimo de um dia.

In [ ]:
#muito importante em usar o type, para saber o tipo de data manipulada
type(Data)

datetime.date

In [ ]:
type(Data_antiga)

datetime.date

# Pacote Externo - Time

In [ ]:
#esse pacote fornece base de dados para manipular o tempo
#exemplo: sleep()

In [ ]:
import time

In [ ]:
print('Comecei agora...')
time.sleep(3)
print('Terminei')

Comecei agora...
Terminei

In [ ]:
Agora = time.localtime()
print(Agora)
type(Agora)
#localtime, apresenta um conjunto de informações até parecida com o datetime. today().date()

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=3, tm_hour=14, tm_min=4, tm_sec=28, tm_wday=2, tm_yday=215, tm_isdst=0)

time.struct_time

In [ ]:
#convertendo a hora e a data para o calendário br.
time.strftime('%d/%m/%y, %H:%M:%S', Agora) #a parte do horario tem que ser em maiusculo

'03/08/22, 14:04:28'

In [ ]:
Time_Texto = '21 june, 2021'
time.strptime(Time_Texto, '%d %B, %Y')
#Diferença com o strftime, a variável vem antes da virgula, e nao depois.
#além disso, insere o b para fazer referencia ao mes, ao inves de M

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=172, tm_isdst=-1)

# Pacote Externo - Math

In [ ]:
#importa um conjunto de funções matemáticas

In [ ]:
tupla = (2, 10, 12, 6, 40)

In [ ]:
min(tupla)

2

In [ ]:
max(tupla)

40

In [ ]:
-7.25

-7.25

In [ ]:
abs(-7.75) 
#converte um numer negativo em positivo

7.75

In [ ]:
pow(3, 4)
#potencia, usa o pow, com dois argumentos, sendo o primeiro elemento a base e o segundo o expoente

81

In [ ]:
#todos esses cálculos de cima, pertencente a esse capitulo, não precisam do math, daqui pra baixo precisa

In [ ]:
import math

In [ ]:
math.sqrt(81)

9.0

In [ ]:
#Arredondar para cima, ceil
math.ceil(1.4)

2

In [ ]:
#arredondar para baixo, floor
math.floor(1.4)

1

In [ ]:
math.pi

3.141592653589793

# Pacote Externo - Random

In [ ]:
#gerar aleatoriedades
import random

In [ ]:
Lista = [1,2,3,4,5,6,7,8]

In [ ]:
random.choice(Lista)

8

In [ ]:
Palavra = 'Wands'
random.choice(Palavra)

'n'

In [ ]:
#valor aleatorio entre 0 e 1
random.random()

0.3818772949871254

In [ ]:
#randint, coloca dentro dos parenteses, dois argumentos, que são o intervalo do número a ser sorteado
random.randint(0, 1000)

620

# Pacote Externo - Statistics

In [ ]:
#funcões para cálculos matemáticos e interações de listas

In [ ]:
import statistics

In [ ]:
Lista = [4, 8, 12, 17, 22, 25, 25]

In [ ]:
sum(Lista) / len(Lista)

16.142857142857142

In [ ]:
statistics.mean(Lista)

16.142857142857142

In [ ]:
statistics.median(Lista)

17

In [ ]:
statistics.mode(Lista)

25

# Condição IF, Elif e Else

In [ ]:
# if, declarações a serem executadas caso o if se confirme

In [ ]:
Idade = 17

if Idade >= 18:
  print('Você é maior de idade')

In [ ]:
Idade = 14

if Idade >= 18:
  print('Voce é maior de idade')
else:
  print('Voce é menor de idade')

Voce é menor de idade

In [ ]:
Idade = 15

if Idade >= 18:
  print('Voce é maior de idade')
elif Idade >=15 and Idade <= 17:
  print('Voce pode ter autorização dos responsáveis')
else:
  print('Voce é menor de idade')

Voce pode ter autorização dos responsáveis

# Estrutura de Loop - For

In [ ]:
#aplicado em uma lista, vai percorrer elemento por elemento
for teste in range(11):
  print(teste * 3)

0
3
6
9
12
15
18
21
24
27
30

In [ ]:
for novoteste in range(1, 100, 15):
  print(novoteste)

1
16
31
46
61
76
91

In [ ]:
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Paraguai', 'Colombia','Chile', 'Equador']

In [ ]:
#PRIMEIRA forma de acessar os elementos da lista com for
for latinos in Lista_Paises:
  print(latinos.upper()[0:3]) #inserindo upper e abreviando os nomes dos paises

BRA
ARG
URU
PAR
COL
CHI
EQU

In [ ]:
for Pais in Lista_Paises:
  if Pais == 'Brasil' or Pais == 'Uruguai' or Pais == 'Argentina' or Pais == 'Paraguai':
    print(f'{Pais} - Membro Fundador do Mercosul')
  else:
    print(f'{Pais} - Convidado')

Brasil - Membro Fundador do Mercosul
Argentina - Membro Fundador do Mercosul
Uruguai - Membro Fundador do Mercosul
Paraguai - Membro Fundador do Mercosul
Colombia - Convidado
Chile - Convidado
Equador - Convidado

In [ ]:
for campeao in Lista_Paises:
  if campeao == 'Uruguai':
    print(campeao, 'é bicampeao mundial de futebol')
    for algumacoisa in range(10):
      print(algumacoisa)

Uruguai é bicampeao mundial de futebol
0
1
2
3
4
5
6
7
8
9

In [ ]:
#SEGUNDA forma de acessaar os elementos dentro de uma lista com for
for loop in range(len(Lista_Paises)):
  print(Lista_Paises[loop])

Brasil
Argentina
Uruguai
Paraguai
Colombia
Chile
Equador

In [ ]:
#ENUMERATE
#vai colocar um indice para uma determinada lista, para isso, o for recebendo mais um elemento
for indice, Pais in enumerate(Lista_Paises):
  print(indice, Pais)

0 Brasil
1 Argentina
2 Uruguai
3 Paraguai
4 Colombia
5 Chile
6 Equador

In [ ]:
#mesma coisa que a de cima mas criando uma variável para o indice
x=0
for Pais in Lista_Paises:
  print(x, Pais)
  x += 1

0 Brasil
1 Argentina
2 Uruguai
3 Paraguai
4 Colombia
5 Chile
6 Equador

In [ ]:
#for usado dentro de uma lista
#para tanto, o "Numero" ja especifica como será reaproveitado a sua variável, podendo ser inserido operadores matemáticos
Lista = [numero*2 for numero in range(0,10,2)]
Lista

[0, 4, 8, 12, 16]

In [ ]:
#para alimentar uma lista com o for, basta usar o append
Lista= []
for Loop in range(0, 10, 2):
  Lista.append(Loop*2)
Lista

[0, 4, 8, 12, 16]

# Estrutura de Loop - While

In [ ]:
#igual o for, mas while precisa de um determinante, dizendo quando o cálculo será finalizado

In [ ]:
Parar = 0

while Parar <= 10:
  print(Parar)
  Parar += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
Loop = 0

while Loop <= 10:
  print(Loop)
  if Loop == 5:
    for c in range(10):
      print(c)
  Loop += 1

0
1
2
3
4
5
0
1
2
3
4
5
6
7
8
9
6
7
8
9
10

In [ ]:
Looping = 1

while Looping <= 10:
  print(Looping)
  if Looping == 5:
    for c in range(10): #dá para usar o enumerate aqui
      print(c, random.random())
  Looping +=1

1
2
3
4
5
0 0.0316074891992999
1 0.703524816362774
2 0.22551073891105455
3 0.7707063356972215
4 0.09830265900053725
5 0.30769933879011946
6 0.2233743090766519
7 0.4487216115677649
8 0.5634916666699551
9 0.8083003920262182
6
7
8
9
10

In [ ]:

while True:
  eu = random.randint(0,10)
  outros = random.randint(0, 10)

  print('Tirei', eu)
  print('Os demais', outros)

  if eu > outros:
    print('Ganhei!')
    break
  print('\n')

Tirei 0
Os demais 8


Tirei 9
Os demais 3
Ganhei!

# Estrutura de Quebra - Break e Continue

In [ ]:
Lista = ['Banana', 'Maca', 'Uva', 'Abacaxi']

In [ ]:
for frutas in Lista:
  print(frutas)
  if frutas == 'Uva':
    break

Banana
Maca
Uva

In [ ]:
for loop in range(0, 11):
  print(loop)
  if loop == 5:
    #continue. Aqui se o continue vem antes do print, esse último seria ignorado 
    print('cheguei na metade')
    continue #nao precisa nem inserir esse continue, pois o loop principal, não será quebrado

0
1
2
3
4
5
cheguei na metade
6
7
8
9
10

In [ ]:
#igual ao de cima, mas com o continue antes do print
#a ordem do primeiro print tbem mudei, deixei para o final e, assim, o n. 5 foi ignorado
for loop in range(0, 11):
  
  if loop == 5:
    continue
    print('cheguei aqui mas vou ser ignorado')# essa parte do ignorado só ocorre se o print do principal estiver lançado no final
  print(loop) # esse aqui e o print do principal

0
1
2
3
4
6
7
8
9
10

# Estrutura de Funções

In [ ]:
#função é um bloco de código que somente será executado quando chamado.
#sempre começa com def

In [ ]:
def Boas_vindas():
  print('===========Python===========')

In [ ]:
print(Boas_vindas())
#com print, fica esse nenhum

===========Python===========
None

In [ ]:
Boas_vindas()
#sem print e com parenteses, fica limpo

===========Python===========

In [ ]:
def Somar(Valor_1, Valor_2):
  soma = Valor_1 + Valor_2
  print(soma)
  #return soma
  #essas duas formas acima: print e return, pode ser usadas sem problemas, no entanto, no return, pode ser inserido em uma saida print

In [ ]:
Somar(2, 5)

7

In [ ]:
print(Somar(5,5))

10
None

In [ ]:
for loop in range(0, 5):
  x = random.random()
  y = random.random()
  Somar(x, y)
  print('\n')

0.5919727597014878


1.21570318596959


1.3862595955748644


1.5118032233695207


1.4369082217096008

In [ ]:
#fazendo teste com input, ficou claro pela necessidade de indicar que tipo de valor está sendo digitado, no caso, int
x1 = int(input('Digite o primeiro número: '))
x2 = int(input('Digite o segundo número: '))
Somar(x1, x2)

Digite o primeiro número: 10
Digite o segundo número: 2
12

In [ ]:
#caso não seja inserido o tipo de valor digitado, o python nao executara o cálculo de Somar e apenas fará uma concatenação1
x1 = input('Digite o primeiro número: ')
x2 = input('Digite o segundo número: ')
Somar(x1, x2)

Digite o primeiro número: 2
Digite o segundo número: 4
24

# Estrutura Lambda

In [ ]:
#lambda é uma pequena função anônima.Isso quer dizer que não recebe o nome que vem depois do def, no modelo tradicional acima
#pode receber uma quantidade enorme de argumentos mas pode ter apenas uma expressão

In [ ]:
Funcao_soma = lambda valor: valor + 10

In [ ]:
Funcao_soma(1)

11

In [ ]:
Função_Soma2 = lambda valor_1, valor_2: valor_1 + valor_2

In [ ]:
Função_Soma2(5, 8)

13

In [ ]:
#antes dos :, são os argumentos, podendo ser vários, depois é a expressão matemática

In [ ]:
Exemplo = lambda valor: 'Verdadeiro' if valor % 2 == 0 else 'Falso'
Exemplo(6)

'Verdadeiro'

In [ ]:
Testenome = lambda textostring: 'Verdadeiro' if textostring  == 'Ola' else 'False'
Testenome('Ola')

'Verdadeiro'

# Estrutura de Try

In [ ]:
#permite inserir códigos para lidar com eventuais erros

In [ ]:
try:
  20/10
  print('Deu certo a linha de código')
except:
  print('Deu erro, pô')
finally:
  print('O programa rodará, indepedente do except ou das demais opções')

Deu certo a linha de código
O programa rodará, indepedente do except ou das demais opções

# Estrutura de Classes / Objetos

In [ ]:
class Pessoa:

  #metodo construtor
  def __init__(self, Nome, Idade): #o self é obrigatorio.
    self.Nome = Nome #atribuindo os valores recebidos como parametros para dentro do atributo da classe
    self.Idade = Idade #igual ao de cima, atribuindo os valores recebidos como parametros para dentro do atributo da classe
#o def serve para criar métodos
#o construtor é um método reservado chamado __init__
#o corpo do método é o self.nome e self.idade
#e daqui pra baixo, defini-se os métodos a serem usados

  #funções
  def Boas_vindas(self):
    print('Bem vindo', self.Nome)

  def Recusado(self):
    print('Voce foi recusado por ser menor de idade')

  def Maior_idade(self):
    if self.Idade >= 18:
      print('Você é maior de idade, acesso permitido')
      self.Boas_vindas()
    else:
      print('Você é menor de idade')
      self.Recusado()

In [ ]:
#classe sempre vem dentro de uma variavel
testando = Pessoa('Wnd', 12)

In [ ]:
testando.Maior_idade() #necessário colocar os parenteses

Você é menor de idade
Voce foi recusado por ser menor de idade

In [ ]:
#TESTE E SIMULAÇÕES

In [ ]:
class Calculo:

  #metodo construtor
  def __init__(self, primeiro_num, segundo_num):
    self.primeiro_num = primeiro_num
    self.segundo_num = segundo_num

  def soma(self):
    a = self.primeiro_num + self.segundo_num
    print('O resultado da soma foi de', a) #nao esquecer de imprimir o resultado, caso contrário, será apresentado o nada

  def boas_vindas(self):
    print('Boas vindas, usuário')
  
  def resultado(self):
    self.soma()
    self.boas_vindas()

In [ ]:
testepqn = Calculo(4, 6)

In [ ]:
testepqn.resultado()

O resultado da soma foi de 10
Boas vindas, usuário

# Módulos e Pacotes

In [ ]:
#biblioteca de códigos.
#geralmente, usa-se 'pip install'
#quando é time, random, datetime, não precisa instalar pois já são nativos
#pandas, matplotlib, numpy, entre outros, precisam baixar a biblioteca

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# Print Formatado

In [ ]:
#apresenta a utilização do f e chave dentro as aspas onde o print recebe o texto

In [ ]:
print('A soma de 2 + 2 é de', 2+2)

A soma de 2 + 2 é de 4

In [ ]:
print(f'A soma de 2 + 2 é de {2+2}')

A soma de 2 + 2 é de 4

# Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('StudentsPerformance.csv')

In [8]:
#visao geral de todo o dataframe
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [9]:
#primeiras 5 linhas
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
#ultimas 5 linhas
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [11]:
#tipo de dados
type(df)

pandas.core.frame.DataFrame

In [15]:
#quantidade de linhas e colunas
#ao contrario dos demais comandos, esse não leva parenteses
df.shape

(1000, 8)

In [18]:
#apresenta todas as colunas existentes no dataframe
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [19]:
#comando para verificar linha duplicada
df.duplicated()
#como resposta, vem um sistema booleano

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [21]:
#para saber se tem ou nao linha duplicada, insere-se o sum ao final
df.duplicated().sum()
#sua resposta tem que ser zero

0

In [24]:
#informaçoes gerais do dataframe
df.info()
#aqui tbem é possivel verificar a existencia de NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [25]:
#verufucar a existencia de NaN
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [26]:
#sumário estatistico
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [29]:
#sumário estatístico com variáveis categoricas
df.describe(include = 'all')#tudo em letras minusculas

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [35]:
#quantidade de valores unicos em cada coluna
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [37]:
#valores unicos porcoluna especificada
df['parental level of education'].nunique()
#assim, apresenta a contagem de valores unicos(igual ao de cima)

6

In [39]:
#ao inves de "nunique", sendo escrito "unique", são apresentadas as respostas
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [45]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [46]:
df.gender.unique()

array(['female', 'male'], dtype=object)

In [40]:
#frequencia entre os valores "value_counts" por coluna especificada
df.gender.value_counts()

female    518
male      482
Name: gender, dtype: int64

In [42]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [50]:
#nesse caso do value_counts, quando for uma palavra so o titulo da coluna, a mesma pode ser escrita sem colchete
#no entanto, como é o caso do nivel educacao, se for muito grande, tal coluna precisa ser escrita dentro de colchete

In [51]:
provas = ['math score', 'reading score', 'writing score']

In [58]:
df.sort_values(['math score'])
#aparentemente, não precisa colocar entre os colchetes, pois conforme abaixo, somente entre aspas, ja deu o mesmo resultado

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [59]:
df.sort_values('math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [60]:
#o index ficou embaralhado, pois nas duas tabelas acima, foram embaradas das menores notas de matemática para as maiores

In [63]:
#para corrigir o indice embaralhado é necessario reinicia-lo com o comando "reset_index"
df.sort_values('math score').reset_index()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,59,female,group C,some high school,free/reduced,none,0,17,10
1,980,female,group B,high school,free/reduced,none,8,24,23
2,17,female,group B,some high school,free/reduced,none,18,32,28
3,787,female,group B,some college,standard,none,19,38,32
4,145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...,...
995,625,male,group D,some college,standard,completed,100,97,99
996,623,male,group A,some college,standard,completed,100,96,86
997,451,female,group E,some college,standard,none,100,92,97
998,962,female,group E,associate's degree,standard,none,100,100,100
999,149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [64]:
#na coluna acima, nota-se a existencia de duas colunas com indice, a que foi reiniciada e a embaralhada
#para descartar essa coluna embaralhada, usa-se o comando drop=True, dentro dos parenteses do reset_index
df.sort_values('math score').reset_index(drop=True)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,19,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group D,some college,standard,completed,100,97,99
996,male,group A,some college,standard,completed,100,96,86
997,female,group E,some college,standard,none,100,92,97
998,female,group E,associate's degree,standard,none,100,100,100
999,male,group E,associate's degree,free/reduced,completed,100,100,93

In [68]:
#ordenar o datasett
df = df.sort_values(by = provas).reset_index(drop=True)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,19,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group D,some college,standard,completed,100,97,99
996,male,group E,associate's degree,free/reduced,completed,100,100,93
997,female,group E,bachelor's degree,standard,none,100,100,100
998,male,group E,bachelor's degree,standard,completed,100,100,100
999,female,group E,associate's degree,standard,none,100,100,100

In [71]:
df = df.sort_values(by = provas, ascending = False).reset_index(drop=True)
df
#a diferença da tabela abaixo para a de cima é o ascending, onde foi ordenado a ordem de acordo com as notas

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group E,bachelor's degree,standard,none,100,100,100
1,male,group E,bachelor's degree,standard,completed,100,100,100
2,female,group E,associate's degree,standard,none,100,100,100
3,male,group E,associate's degree,free/reduced,completed,100,100,93
4,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
995,female,group C,some college,free/reduced,none,22,39,33
996,female,group B,some college,standard,none,19,38,32
997,female,group B,some high school,free/reduced,none,18,32,28
998,female,group B,high school,free/reduced,none,8,24,23
999,female,group C,some high school,free/reduced,none,0,17,10

In [85]:
#coluna calculando a média
df['media'] = df[provas].mean(axis=1) #acho que esse axis = 1, indica ao python, que é para pegar as colunas e nao as linhas

In [86]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Media,media
0,female,group E,bachelor's degree,standard,none,100,100,100,100.000000,100.000000
1,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000,100.000000
2,female,group E,associate's degree,standard,none,100,100,100,100.000000,100.000000
3,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667,97.666667
4,male,group D,some college,standard,completed,100,97,99,98.666667,98.666667

In [89]:
#remover uma coluna, sem querer criei duas colunas:media e Media, para excluir essa ultima, usei o comando drop e especifiquei a coluna
#a ser descartada por meio do columns e o nome dentro de colchete
df = df.drop(columns=['Media'])

In [90]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,media
0,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
1,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
2,female,group E,associate's degree,standard,none,100,100,100,100.000000
3,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
4,male,group D,some college,standard,completed,100,97,99,98.666667
...,...,...,...,...,...,...,...,...,...
995,female,group C,some college,free/reduced,none,22,39,33,31.333333
996,female,group B,some college,standard,none,19,38,32,29.666667
997,female,group B,some high school,free/reduced,none,18,32,28,26.000000
998,female,group B,high school,free/reduced,none,8,24,23,18.333333
999,female,group C,some high school,free/reduced,none,0,17,10,9.000000

In [107]:
#consultar umcenário especifico: aluno sem curso preperatório, do sexo masculino e que tenha tirado nota acima de 70
#comando query
#ATENÇAO AQUI, ao citar as colunas objeto de filtro, nao se utiliza aspas simples ou duplas e, sim, o acento grave ``
df.query('(gender == "male") & (`test preparation course` == "none") & (`math score` >= 70)')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,media
15,male,group C,associate's degree,standard,none,97,93,91,93.666667
17,male,group E,some college,standard,none,97,87,82,88.666667
23,male,group D,master's degree,standard,none,95,81,84,86.666667
26,male,group E,some high school,standard,none,94,88,78,86.666667
30,male,group E,high school,standard,none,94,73,71,79.333333
...,...,...,...,...,...,...,...,...,...
401,male,group C,high school,standard,none,70,70,65,68.333333
403,male,group B,high school,standard,none,70,65,60,65.000000
406,male,group D,some college,free/reduced,none,70,63,58,63.666667
407,male,group C,high school,standard,none,70,56,51,59.000000
408,male,group E,high school,standard,none,70,55,56,60.333333

In [113]:
#mesma coisa de cima, porém sem o query e por consequencia, sem o acento grave, sendo esse último, substituido pelas aspas simples
df[(df.gender == "male") & (df['test preparation course'] == "none") & (df['math score'] >= 70)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,media
15,male,group C,associate's degree,standard,none,97,93,91,93.666667
17,male,group E,some college,standard,none,97,87,82,88.666667
23,male,group D,master's degree,standard,none,95,81,84,86.666667
26,male,group E,some high school,standard,none,94,88,78,86.666667
30,male,group E,high school,standard,none,94,73,71,79.333333
...,...,...,...,...,...,...,...,...,...
401,male,group C,high school,standard,none,70,70,65,68.333333
403,male,group B,high school,standard,none,70,65,60,65.000000
406,male,group D,some college,free/reduced,none,70,63,58,63.666667
407,male,group C,high school,standard,none,70,56,51,59.000000
408,male,group E,high school,standard,none,70,55,56,60.333333

In [117]:
#mesma coisa de cima, inclusive toda a sintaxe, com a diferença do loc
#o iloc, que é parecido, remete ao sistema booleano
df.loc[(df.gender == 'male') & (df['test preparation course'] == 'none') & (df['math score'] >= 70)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,media
15,male,group C,associate's degree,standard,none,97,93,91,93.666667
17,male,group E,some college,standard,none,97,87,82,88.666667
23,male,group D,master's degree,standard,none,95,81,84,86.666667
26,male,group E,some high school,standard,none,94,88,78,86.666667
30,male,group E,high school,standard,none,94,73,71,79.333333
...,...,...,...,...,...,...,...,...,...
401,male,group C,high school,standard,none,70,70,65,68.333333
403,male,group B,high school,standard,none,70,65,60,65.000000
406,male,group D,some college,free/reduced,none,70,63,58,63.666667
407,male,group C,high school,standard,none,70,56,51,59.000000
408,male,group E,high school,standard,none,70,55,56,60.333333

In [120]:
#outra forma é pelo groupby para separar por sexo
#agg serve para criar e agregar uma tabela com os cálculos que se encontram dentro dos parenteses
df.groupby(by='gender').agg([np.mean, np.median])

       math score        reading score        writing score             media  \
             mean median          mean median          mean median       mean
gender
female  63.564797   65.0     72.568665   73.0     72.433269   74.0  69.522244
male    68.728216   69.0     65.473029   66.0     63.311203   64.0  65.837483


           median
gender
female  70.333333
male    66.333333

In [125]:
#mesma coisa que a de cima mas com o T, maiusculo ao final, onde tal procedimento constroi uma tabela
#esse T, esta vinculado ao numpy e visa forma uma array/matriz
df.groupby(by='gender').agg([np.mean, np.median]).T
#assim, essa linha de código acima, apurar a media e a mediana de todas as colunas que tem valores

gender                   female       male
math score    mean    63.564797  68.728216
              median  65.000000  69.000000
reading score mean    72.568665  65.473029
              median  73.000000  66.000000
writing score mean    72.433269  63.311203
              median  74.000000  64.000000
media         mean    69.522244  65.837483
              median  70.333333  66.333333

In [124]:
#igual aos dois de cima mas, com inclusao de provas
df.groupby(by='gender')[provas].agg([np.mean, np.median]).T
#a diferença para a de cima é de exclusão da média geral, ficando assim, a separacao por disciplina
#aqui, com a utilização da "[provas]", a linha de código fará a media e a mediana das colunas que foram direcioandas como provas e nao todas as colunas que tem vlaores

gender                   female       male
math score    mean    63.564797  68.728216
              median  65.000000  69.000000
reading score mean    72.568665  65.473029
              median  73.000000  66.000000
writing score mean    72.433269  63.311203
              median  74.000000  64.000000